#header {
    margin: 30px;
    
}
/* Container */

    
body{
    background-image: url(/images/bc.jpeg);
    background-position: -15rem;
    background-size: auto;
    /* background-repeat: no-repeat; */
    margin: 0;
    
   
    
}

/* Navbar */
#navbar-base{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 10px 10px;
    
}

.navbar{
    box-sizing: border-box;
    border: 4px solid darksalmon;
    border-radius: 40px;
    cursor: pointer;
    background-color: blanchedalmond;
}





#navbar-base a:hover{
    box-sizing: border-box;
    border: 1px solid orchid;
    border-radius: 50px ;
    background-color: darksalmon;
    text-shadow: 2px 5px 5px rgba(33, 24, 9, 0.901);

    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

    color: rebeccapurple;
    ;
}
/* @keyframes body {
    from {background-color:pink;}
    to {background-color:violet;}
    
} */

#navbrand{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 30px;
    color: darksalmon;
    padding: 2px;

}

#navbrand:hover{
    transform: rotate3d(1, 0, 0, 360deg);
    background-color: rgba(170, 10, 159, 0);
    transition: all 1s ease 0s ;
    color: rebeccapurple;
    text-shadow: 2px 3px 2px rgb(80, 33, 49);
}

#arnold-photo{
    max-width: 150px;
    max-height: 200px;
    box-sizing: border-box;
    border: 5px ridge darkcyan;
    border-radius: 75px;
    padding: 2px;
    cursor: pointer;

}
#arnold-photo:hover{
    cursor: pointer;
    transition: all 1s ease-in-out 0s ;
    transform: rotate3d(-1, -1, 0 , 360deg);
    
}


#hyeeun-photo{
    max-width: 150px;
    max-height: 200px;
    box-sizing: border-box;
    border: 5px groove orange;
    border-radius: 75px;
    cursor: pointer;
    
}
#hyeeun-photo:hover{
    cursor: pointer;
    transition: all 1s ease-in-out 0s ;
    transform: rotate3d(1,1, -1, 360deg);
}

#mauvonte-photo{
    max-width: 200px;
    max-height: 200px;
    box-sizing: border-box;
    border: 5px inset red;
    border-radius: 75px;
    cursor: pointer;
}

#mauvonte-photo:hover{
    cursor: pointer;
    transition: all 1s ease-in-out 0s ;
    transform: rotate3d(0,0,-1, 360deg);
}


#ryan-photo{
    max-width: 150px;
    max-height: 200px;
    cursor: pointer;
    box-sizing: border-box;
    border: 5px outset rgb(66, 53, 53);
    border-radius: 75px;
}


#ryan-photo:hover{
    cursor: pointer;
    transition: all 1s ease-in-out 0s ;
    transform: rotateX(360deg);
}
/* name headers */
/* letter animation for arnold */
.m16{
  position: relative;
  font-weight: 900;
  font-size: 1.5em;
}
.m16 .text-wrapper{
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.m16 .letters {
    display: inline-block;
    line-height: 1em;
  }
 
  /* letter animation for hyeeun */
  .ml7 {
    position: relative;
    font-weight: 900;
    font-size: 1.5em;
  }
  .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .ml7 .hy-letters {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }

  /* letter animation for moe */
  .ml12 {
    font-weight: 800;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.8em;
  }
  
  .ml12 .moe-letters {
    display: inline-block;
    line-height: 1em;
  }

  /* letter animation for ryan */
  .ml15 {
    font-weight: 800;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }

  /* team member boxes */
  .col-3{
    background-color: pink;
    margin: 3px 0;
    padding: 10px 3px;
  }
  .col-3:hover{
    background-color: rgb(215, 91, 176);
    transition: all 1s ease-in-out 0s;
    
  }

  .row .g-2{
    background-color: plum;
    margin-bottom: 1px;
  }

  .p-3{
    background-color: black;
  }

  /* team descriptions */
  .desc{
    box-sizing: border-box;
    border: 6px groove rosybrown;
    border-radius: 40px;
  }
  
  .desc:hover{
    color: pink;
    text-shadow: 3px 1px 5px plum;
    background-color: black;
    transition: all 1s ease-out 0s;
    transform: rotate3d(-1,-1,0, 360);
    cursor: pointer;
  }

  .proj-desc{
    background-color: silver;
    text-shadow: 2px 3px 4px plum;
   
  }

  .lead:hover{
    color: pink;
    text-shadow: 3px 1px 5px plum;
    background-color: black;
    transition: all 1s ease-out 0s;
    transform: rotate3d(-1,-1,0, 360);
    cursor: pointer;
  }

/* bottom links */
.col-6{
    background-color: plum;
}

h5{
cursor: pointer;
box-sizing: border-box;
border: 2px solid black;
border-radius: 40px;
background-color: palevioletred;

}

.bot-links{
    box-sizing: border-box;
    border: 1px groove black;
    border-radius: 50px;
    margin: 2px 0;
    padding: 20px 5px;
    color: pink;
    text-decoration: none;
}

.bot-links:hover{
    cursor: pointer;
    text-shadow: 0px 5px 0px rgb(16, 15, 16);
    transition: all 1s ease-in 0s;
    margin: 0;
    padding: 20px;
    background-color: pink;
    color: palevioletred;
    text-decoration: none;
    transform: rotate3d(-1, 0, 1, 90deg);
}




