#header {
    margin: 30px;
}
/* Container */

    
body{
    background-image: url(/images/bc.jpeg);
    background-position: -15rem;
    background-size: auto;
    margin: 0px;
   
    
}

/* Navbar */
#navbar-base{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0);

   
    
}

#navbar{
    background-color: blanchedalmond;
    box-sizing: border-box;
    border: 5px solid salmon;
    border-radius: 40px;
}

#navbar a:hover{
    box-sizing: border-box;
    border: 5px solid orchid;
    border-radius: 50px ;
    background-color: darksalmon;
    text-shadow: 4px 2px 2px wheat;

    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

    color: rebeccapurple;
    text-shadow: 2px 5px 10px rgb(80, 33, 49);
}
/* @keyframes body {
    from {background-color:pink;}
    to {background-color:violet;}
    
} */

#navbrand{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 30px;
    color: darksalmon;
    padding: 2px;

}

#navbrand:hover{
    transform: rotate3d(1, 0, 0, 360deg);
    background-color: rgb(11, 1, 3);
    transition: all 1s ease 0s ;
    color: rebeccapurple;
    text-shadow: 2px 3px 2px rgb(80, 33, 49);
}


