#header {
    margin: 30px;
}
/* Container */

    
body{
    background-image: url(/images/bc.jpeg);
    background-position: -15rem;
    background-size: auto;
    margin: 0px;
   
    
}

/* Navbar */
#navbar-base{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0);

   
    
}

#navbar{
    background-color: blanchedalmond;
    box-sizing: border-box;
    border: 5px solid salmon;
    border-radius: 40px;
}

#navbar a:hover{
    box-sizing: border-box;
    border: 5px solid orchid;
    border-radius: 50px ;
    background-color: darksalmon;
    text-shadow: 1px 2px 2px wheat;
    @keyframes anime {
        from {background-color:pink;}
        to {background-color:violet;}
    }
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    

    
    
}

#navbrand{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 30px;
    color: darksalmon;
    padding: 2px;
}

#navbrand{
    tr
}
